# 自动处理行尾符
* text=auto

# 大文件使用 Git LFS - 只保留最大的文件类型
*.vrma filter=lfs diff=lfs merge=lfs -text
*.vrm filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
